{%extends 'base.html' %}
{%block content%}
<h1>Send Email</h1>
{%if messageSent%}
<div class="container">
    <h3><strong>Email Successfully sent</strong></h3>
    <p>Your message was successfully sent {{form.cleaned_data.to}}</p>
</div>
{%else%}
<div class="container">
    <h3><strong>Send E-mail</strong></h3>
    <div class="text-center">
        <h3 class="log">Login for a Chat</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary" type="submit">Let's chat</button>
        </form>
    </div>
</div>
{%endif%}
{%endblock%}
